.inline-block {
    display: inline-block !important;
}

.inline {
    display: inline !important;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#FFFF00;
    height: 1px;
}

.modal-header {
    border-bottom: 0 none;
}